logs/*
!logs/README.md
dataset/*
!dataset/README.md
hdk.txt
perfetto/
*.jpeg
*.jpg
*.png
*.bmp
frames/
__pycache__/
*.h5
*.zip
*.m4v
*.mp4
*.avi
.vscode/
.idea/
.ipynb_checkpoints/
.vscode/
*.csv
*.pdf
.DS_Store
.gitattributes
pyrightconfig.json
