<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.ACTION"/>-->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
<!--    <uses-permission android:name="android.permission.DUMP" tools:ignore="ProtectedPermissions"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:ignore = "SelectedPhotoAccess"/>-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:ignore="SelectedPhotoAccess" />-->
<!--    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:exported="true"
        android:theme="@style/Theme.VLCRtux">
        <meta-data android:name="android.max_aspect" android:value="2.4"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboardHidden|keyboard|navigation"
            android:launchMode="singleTop"
            android:exported="true"> <!-- This line is crucial for API 31+ -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Intent-filter to allow the activity to handle VIEW actions for videos -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />
            </intent-filter>

        </activity>
    </application>

</manifest>
